[submodule "frontend-matriculas"]
	path = frontend-matriculas
	url = git@github.com:filipedev040990/frontend-matriculas.git
[submodule "microservice-marketing"]
	path = microservice-marketing
	url = git@github.com:filipedev040990/microservice-marketing.git
[submodule "microservice-financeiro"]
	path = microservice-financeiro
	url = git@github.com:filipedev040990/microservice-financeiro.git
[submodule "microservice-pagamento"]
	path = microservice-pagamento
	url = git@github.com:filipedev040990/microservice-pagamento.git
[submodule "microservice-academico"]
	path = microservice-academico
	url = git@github.com:filipedev040990/microservice-academico.git
